@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Tajawal:wght@300&display=swap');

* {
	/* border: 1px solid; */
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
	font-family: 'Tajawal', sans-serif;
}

body .section-title {
	font-size: 35px;
	margin-top: 45px;
}

/* -------- NAVIGATION BAR -------- */
.navbar-brand {
	font-size: 22px;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: bolder;
}

.nav-item:hover {
	text-decoration-line: underline;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.7);
}

a.nav-link {
	font-size: 18px;
	color: black;
}

.nav-item:hover {
	text-decoration-line: underline;
}
.navbar,
.navbar-expand-lg {
	background-color: rgba(249, 229, 229, 100%);
}

nav.navbar.navbar-expand-lg.navbar-light {
	position: sticky;
	top: 0;
	z-index: 1;
}

button:focus {
	outline-color: black;
}

/* -------- BODY -------- */

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr;
	padding-top: 25px;
	grid-template-areas:
		'home'
		'about'
		'projects'
		'contact'
		'footer';
}

/* -------- HOME / INTRO -------- */

.container #home {
	grid-area: home;
	align-items: center;
	margin-top: 10px;
	/* background-color: #b5d4c4; */
}

#home .intro-heading {
	font-size: 30px;
	letter-spacing: 3px;
}

#home .intro-heading .myname {
	font-weight: bold;
}

#home .intro-subheading {
	font-size: 22px;
}

/* -------- ABOUT ME -------- */

.container #about {
	grid-area: about;
	display: flex;
	flex-flow: column wrap;
}

#about .headshot {
	width: 200px;
	height: 200px;
	justify-self: center;
}

#about p {
	display: flex;
	justify-self: center;
	padding: 10px 30px 0px 30px;
	margin-bottom: 0;
}

/* -------- PROJECTS -------- */

.container #projects {
	grid-area: projects;
	grid-template-rows: auto auto auto;
	margin-top: 10px;
}

.project-cards-container .project-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.project-cards-container .card {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	/* overflow: hidden; */
}

.card-img-top {
	height: 155px;
	object-fit: cover;
}

#card-button {
	padding: 6px 15px 3px 15px;
	margin: 0 5px;
	border-radius: 10px;
	background-color: rgba(249, 229, 229, 100%);
	box-shadow: 2px 2px 2px #c4c2c2;
	transition: all 100ms ease-in-out;
}

#card-button:hover {
	cursor: pointer;
	box-shadow: 1px 1px 2px #000000;
}

/* -------- CONTACT  -------- */

.container #contact {
	grid-area: contact;
	margin-top: 10px;
}

.contact-form .form-group {
	margin: 10px auto;
	justify-items: center;
	width: 75%;
	border-radius: 10px;
}

.contact-form .submitbutton {
	padding: 10px 30px 5px 30px;
	border: none;
	border-radius: 10px;
	background-color: rgba(249, 229, 229, 100%);
	box-shadow: 2px 2px 2px #c4c2c2;
	transition: all 100ms ease-in-out;
}

.submitbutton:hover {
	cursor: pointer;
	box-shadow: 1px 1px 2px #000000;
}

/* -------- FOOTER -------- */

footer {
	/* grid-area: footer; */
	align-self: end;
	padding: 10px 5px;
}

.footer-links {
	display: flex;
	width: 25%;
	margin: 0 auto;
	justify-content: space-evenly;
	margin-bottom: -20px;
}

/* -------- OTHER-------- */

/* -------- MEDIA QUERIES-------- */

@media (min-width: 768px) {
	.aboutmemain-container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		padding: 0 10px;
	}

	#about p {
		align-self: center;
	}
}

@media (min-width: 1024px) {
	.card p,
	#contact p,
	#contact .submitbutton,
	#about p,
	#projects p {
		/* color: red; */
		font-size: 18px;
	}
	.card-button {
		position: relative;
	}
}
