@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Tajawal:wght@300&display=swap');

* {
	/* border: 1px solid; */
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
	font-family: 'Tajawal', sans-serif;
}

body .section-title {
	font-size: 35px;
    margin-top: 50px;
    padding-top: 12px;
    border-top: 1px solid black;
    
}


/* -------- NAVIGATION BAR -------- */
.navbar-brand {
	font-size: 22px;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: bolder;
}

.nav-item {
	padding: 0 10px;
}

.nav-item:hover {
	text-decoration-line: underline;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.8);
}

a.nav-link {
	font-size: 18px;
	color: black;
}

.navbar,
.navbar-expand-lg {
	background-color: rgba(249, 229, 229, 100%);
}

nav.navbar.navbar-expand-lg.navbar-light {
	position: sticky;
	top: 0;
	z-index: 1;
}

button:focus {
	outline-color: black;
}


/* -------- BODY -------- */

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr;
	padding-top: 25px;
	grid-template-areas:
		'home'
		'about'
		'projects'
		'contact'
		'footer';
}


/* -------- HOME / INTRO -------- */

.container #intro {
	grid-area: home;
	align-items: center;
	/* background-color: #b5d4c4; */
}

#intro .intro-heading {
	font-size: 30px;
	letter-spacing: 3px;
	margin-top: 25px;
}

#intro .intro-heading .myname {
	font-weight: bold;
}

#intro .intro-subheading {
	font-size: 22px;
}


/* -------- ABOUT ME -------- */

.container #about {
	grid-area: about;
	display: flex;
	flex-flow: column wrap;
}

#about .headshot {
	width: 200px;
	height: 200px;
	justify-self: center;
}

#about p {
	display: flex;
	/* justify-self: center; */
	padding: 20px 30px 0px 30px;
	margin-bottom: 0;
}


/* -------- PROJECTS -------- */

.container #projects {
	grid-area: projects;
	/* grid-template-rows: auto auto auto; */
}

.project-cards-container .project-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.project-cards-container .card {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	/* overflow: hidden; */
}

.card-img-top {
	height: 155px;
	object-fit: cover;
}

#card-button {
	padding: 6px 15px 3px 15px;
	margin: 0 5px;
	border-radius: 10px;
	background-color: rgba(249, 229, 229, 100%);
	box-shadow: 2px 2px 2px #c4c2c2;
	transition: all 100ms ease-in-out;
}

#card-button:hover {
	cursor: pointer;
	box-shadow: 1px 1px 2px #000000;
}


/* -------- CONTACT  -------- */

.container #contact {
	grid-area: contact;
}

.contact-form .form-group {
	margin: 10px auto;
	justify-items: center;
	width: 75%;
	border-radius: 10px;
}

.submitbutton {
	padding: 10px 30px 5px 30px;
	border: none;
	border-radius: 10px;
	background-color: rgba(249, 229, 229, 100%);
	box-shadow: 2px 2px 2px #c4c2c2;
	transition: all 100ms ease-in-out;
}

.submitbutton:hover {
	cursor: pointer;
	box-shadow: 1px 1px 2px #000000;
}

.contact-info-box {
	background-color: rgba(249, 229, 229, 100%);
	padding: 10px 0px;
	justify-self: center;
	/* width: 50%; */
	margin: 50px auto 0;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 10px;
}

.social-icon {
	height: 30px;
	width: 30px;
}


/* -------- FOOTER -------- */

footer {
	grid-area: footer;
	align-self: end;
	padding: 10px 5px;
	margin-top: 100px;
}

.footer-links {
	/* display: flex;
	margin: 0 auto;
	justify-content: center; */
	margin-bottom: -20px;
}

.footer-links a {
	padding: 0 4px;
}


/* -------- OTHER-------- */
.anchor {
	display: block;
	padding-top: 180px;
	margin-top: -180px;
	visibility: hidden;
}
/* I was determined to make viisble the start of each section (or above) when the assoicated anchor/"jump tag" on the nav bar is clicked. I researched this quite a bit a found some helpful references on stackoverflow. I created empty spans/classes within each section's parent div. Then, using CSS (above), I added top padding and top negative margin to these spans to make enough sort of "fake space" above them so that when their anchor tags are clicked, the top most part of the section does not go behind/above the sticky nav and is therefore visible.
https://stackoverflow.com/questions/1418838/html-making-a-link-lead-to-the-anchor-centered-in-the-middle-of-the-page */



/* -------- MEDIA QUERY TABLET-------- */

@media (min-width: 768px) {
	.aboutmemain-container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		padding: 0 10px;
	}

	#about p {
		align-self: center;
	}

	#intro .intro-heading {
		font-size: 45px;
	}

	#intro .intro-subheading {
		font-size: 28px;
	}
}

/* -------- MEDIA QUERY DESKTOP-------- */

@media (min-width: 1024px) {
	body .section-title {
		font-size: 40px;
	}

	a.nav-link {
		font-size: 20px;
		color: black;
	}

	#contact p,
	#about p,
	.contact-info-box p,
	#projects p:first-of-type {
		font-size: 20px;
	}

	.card-title {
		font-size: 22px;
	}

	#projects p {
		font-size: 18px;
	}

	.card-button {
		position: relative;
	}

	.anchor {
		display: block;
		padding-top: 90px;
		margin-top: -90px;
		visibility: hidden;
	}

	.contact-group {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		align-items: center;
	}

	.contact-form {
		margin: 0 auto;
		width: 60%;
		margin-left: -60px;
	}

	.contact-info-box {
		margin: 0 auto;
		width: 40%;
	}
}
